<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="ca">

<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<title>Es Liceu › Entra</title>
<link rel="stylesheet" id="wp-admin-css" href="/static/userauth/wp-admin.css" type="text/css" media="all">
<link rel="stylesheet" id="colors-fresh-css" href="/static/userauth/colors-fresh.css" type="text/css" media="all">
<meta name="robots" content="noindex,nofollow">


<style type="text/css">

.login h1 {
	text-align: center;
	margin-bottom: 5px;
}

.error {
	color: red;
}

</style>

<!-- <script type="text/javascript" src="/static/userauth/jquery.js"></script> -->

<script src="/static/userauth/jquery-1.11.1.min.js"></script>

<script type="text/javascript">

</script>



</head>
<body class="login">


<div id="login"><h1>

	<img src="/static/userauth/logo_esliceu_alt.png">

</h1>



<form style="text-align: center">
	<!-- Entreu amb el vostre compte @esliceu.
	<p style="margin-bottom: 20px; margin-top: 5px;">
		<a href="/auth/logingoogle2/" class="alogin"> <img src="/static/userauth/sign-in-with-google.png" id="googlogin"> </a>
	</p>

	<p>
		<a href="/auth/login2/" class="alogin"> <img src="/static/userauth/sign-in-admins.png"> </a>
	</p> -->
	<p> ERROR: {{ message }} </p>
</form>



	<p id="backtoblog"><a href="http://www.esliceu.com/" title="Us heu perdut?">Torna cap a Es Liceu</a></p>
	</div>

<div class="clear"></div>


</body></html>
